/.vs
*.dll
.editorconfig
*.pdb
*.cache
*.svg



##############################################################
#######{    Documentation    }################################
##############################################################
Documentation.Library/bin
Documentation.Library/obj
##############################################################
#######{    Doamin    }#######################################
##############################################################
Domain.Library/bin
Domain.Library/obj
#--------------------------------
Domain.Test/bin
Domain.Test/obj
##############################################################
#######{    Application    }##################################
##############################################################
Application.Library/bin
Application.Library/obj
#--------------------------------
Application.Test/bin
Application.Test/obj
##############################################################
#######{    Infrastructure    }###############################
##############################################################
Infrastructure.Library/bin
Infrastructure.Library/obj
#--------------------------------
Infrastructure.Test/bin
Infrastructure.Test/obj
##############################################################
#######{    IOC    }##########################################
##############################################################
IoC/bin
IoC/obj
##############################################################
#######{    WebApi    }#######################################
##############################################################
WebApi/bin
WebApi/obj
##############################################################
#######{    OpenId.IdentityServer    }########################
##############################################################
OpenId.IdentityServer/bin
OpenId.IdentityServer/obj
##############################################################
#######{    External Kernel    }##############################
##############################################################
External Kernel
##############################################################
#######{    External.Provider    }############################
##############################################################
ExternalKernel/External.Provider/bin
ExternalKernel/External.Provider/obj
##############################################################
#######{    External.Provider.Client    }#####################
##############################################################
ExternalKernel/External.Provider.Client/bin
ExternalKernel/External.Provider.Client/obj
