/.vs
*.dll
.editorconfig
*.pdb
*.cache
*.svg




Domain.Library/bin
Domain.Library/obj

IoC/bin
IoC/obj

Application.Library/bin
Application.Library/obj

Infrastructure.Library/bin
Infrastructure.Library/obj


WebApi/bin
WebApi/obj

Documentation.Library/bin
Documentation.Library/obj

External Kernel


OpenId.IdentityServer/bin
OpenId.IdentityServer/obj

ExternalKernel/External.Provider/bin
ExternalKernel/External.Provider/obj

ExternalKernel/External.Provider.Client/bin
ExternalKernel/External.Provider.Client/obj
