.vs

Architecture.Domain.Test/obj
Architecture.Domain.Test/bin

Architecture.Application.Test/obj
Architecture.Application.Test/bin

Architecture.Infrastructure.Test/obj
Architecture.Infrastructure.Test/bin

Architecture.Domain.Library/obj
Architecture.Domain.Library/bin

Architecture.Application.Library/obj
Architecture.Application.Library/bin

Architecture.Infrastructure.Library/obj
Architecture.Infrastructure.Library/bin

Architecture.WebApi.EndPoint/obj
Architecture.WebApi.EndPoint/bin