@font-face {
    font-family: iransansweb;
    src: url("./asstes/fonts/IRANSansWeb.ttf");
}

html, body {
    /*font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
    font-family: IRANSansWeb;
}
.cursur-pointer{
    cursor: pointer !important;
}
.nav-link-main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

a, .btn-link {
    color: #006bb7;
}
.list-tk{

}
.list-item-tk{
    border-bottom: 1px solid #808080;
}
.fx-1 {
    font-size: 14px;
}

.fx-2 {
    font-size: 16px;
}

.fx-3 {
    font-size: 18px;
}

.fx-4 {
    font-size: 21px;
}

.fx-5 {
    font-size: 25px;
}
.bi{
    cursor: pointer;
}