@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-4">
            <div class="d-flex flex-row justify-content-around">
                <a href="api/Teachers/index" class="btn btn-dark text-light rounded-2 px-5 py-2">Home</a>
                <a href="api/Teachers/index" class="btn btn-primary text-light rounded-2 px-5 py-2">Index</a>
                <a href="api/Teachers/index" class="btn btn-primary text-light rounded-2 px-5 py-2">Privacy</a>
                <a href="api/Teachers/index" class="btn btn-primary text-light rounded-2 px-5 py-2">Teacher</a>
                <a href="api/Teachers/index" class="btn btn-primary text-light rounded-2 px-5 py-2">Teacher</a>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="d-flex flex-row justify-content-around">
                    <a href="api/Teachers/index" class="btn btn-dark text-light rounded-2 px-5 py-2">Teacher</a>
                    <a href="api/Teachers/index" class="btn btn-primary text-light rounded-2 px-5 py-2">GetTeacher(int id)</a>
                    <a href="api/Teachers/index" class="btn btn-primary text-light rounded-2 px-5 py-2">GetTeacherByName(string name)</a>
                    <a href="api/Teachers/index" class="btn btn-primary text-light rounded-2 px-5 py-2">GetAllTeachers</a>
                    <a href="api/Teachers/index" class="btn btn-primary text-light rounded-2 px-5 py-2">CreateTeacher</a>
                    <a href="api/Teachers/index" class="btn btn-primary text-light rounded-2 px-5 py-2">GET : Index</a>
                    <a href="api/Teachers/index" class="btn btn-primary text-light rounded-2 px-5 py-2">GET : Details(int id)</a>
                    <a href="api/Teachers/index" class="btn btn-primary text-light rounded-2 px-5 py-2">GET : Create()</a>
                    <a href="api/Teachers/index" class="btn btn-primary text-light rounded-2 px-5 py-2">POST : Create()</a>
                    <a href="api/Teachers/index" class="btn btn-primary text-light rounded-2 px-5 py-2">GET : EDIT()</a>
                    <a href="api/Teachers/index" class="btn btn-primary text-light rounded-2 px-5 py-2">POST : EDIT()</a>
                    <a href="api/Teachers/index" class="btn btn-primary text-light rounded-2 px-5 py-2">GET : DELETE()</a>
                    <a href="api/Teachers/index" class="btn btn-primary text-light rounded-2 px-5 py-2">POST : DeleteConfirmed()</a>
                    <a href="api/Teachers/index" class="btn btn-primary text-light rounded-2 px-5 py-2">TeacherExists(int id)</a>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <div class="d-flex flex-row justify-content-around">
                        <a href="api/Teachers/index" class="btn btn-dark text-light rounded-2 px-5 py-2">Product</a>
                        <a href="api/Teachers/index" class="btn btn-primary text-light rounded-2 px-5 py-2">GET : Index</a>
                        <a href="api/Teachers/index" class="btn btn-primary text-light rounded-2 px-5 py-2">GET : Details</a>
                        <a href="api/Teachers/index" class="btn btn-primary text-light rounded-2 px-5 py-2">GET : Create</a>
                        <a href="api/Teachers/index" class="btn btn-primary text-light rounded-2 px-5 py-2">POST : Create</a>
                        <a href="api/Teachers/index" class="btn btn-primary text-light rounded-2 px-5 py-2">GET : Edit</a>
                        <a href="api/Teachers/index" class="btn btn-primary text-light rounded-2 px-5 py-2">POST : Edit</a>
                        <a href="api/Teachers/index" class="btn btn-primary text-light rounded-2 px-5 py-2">GET : Delete</a>
                        <a href="api/Teachers/index" class="btn btn-primary text-light rounded-2 px-5 py-2">POST : DeleteConfirmed</a>
                        <a href="api/Teachers/index" class="btn btn-primary text-light rounded-2 px-5 py-2">BOOL : ProductExists</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
