@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-4">
            <div class="d-flex flex-column flex-wrap justify-content-center align-items-center">
                <a href="#" class="btn btn-dark text-light rounded-2 px-5 py-2 w-100">Home</a>
                <a href="#" class="btn btn-primary text-light rounded-2 px-5 py-2 w-100 my-1">Index</a>
                <a href="#" class="btn btn-primary text-light rounded-2 px-5 py-2 w-100 my-1">Privacy</a>
            </div>
        </div>
        <div class="col-4">
            < class="d-flex flex-column flex-wrap justify-content-center align-items-center">
                <a href="#" class="btn btn-dark text-light rounded-2 px-5 py-2 w-100">Teacher</a>
                <a href="#" class="btn btn-primary text-light rounded-2 px-5 py-2 w-100 my-1">GetTeacher(int id)</a>
                <a href="#" class="btn btn-primary text-light rounded-2 px-5 py-2 w-100 my-1">GetTeacherByName(string name)</a>
                <a href="#" class="btn btn-primary text-light rounded-2 px-5 py-2 w-100 my-1">GetAllTeachers</a>
                <a href="#" class="btn btn-primary text-light rounded-2 px-5 py-2 w-100 my-1">CreateTeacher</a>
                <a href="#" class="btn btn-primary text-light rounded-2 px-5 py-2 w-100 my-1">GET : Index</a>
                <a href="#" class="btn btn-primary text-light rounded-2 px-5 py-2 w-100 my-1">GET : Details(int id)</a>
                <a href="#" class="btn btn-primary text-light rounded-2 px-5 py-2 w-100 my-1">GET : Create()</a>
                <a href="#" class="btn btn-primary text-light rounded-2 px-5 py-2 w-100 my-1">POST : Create()</a>
                <a href="#" class="btn btn-primary text-light rounded-2 px-5 py-2 w-100 my-1">GET : EDIT()</a>
                <a href="#" class="btn btn-primary text-light rounded-2 px-5 py-2 w-100 my-1">POST : EDIT()</a>
                <a href="#" class="btn btn-primary text-light rounded-2 px-5 py-2 w-100 my-1">GET : DELETE()</a>
                <a href="#" class="btn btn-primary text-light rounded-2 px-5 py-2 w-100 my-1">POST : DeleteConfirmed()</a>
                <a href="#" class="btn btn-primary text-light rounded-2 px-5 py-2 w-100 my-1">TeacherExists(int id)</a>
            </div>
        </div>
        <div class="col-4">
            <div class="d-flex flex-column flex-wrap justify-content-center align-items-center">
                <a href="#" class="btn btn-dark text-light rounded-2 px-5 py-2 w-100">Product</a>
                <a href="#" class="btn btn-primary text-light rounded-2 px-5 py-2 w-100 my-1">GET : Index</a>
                <a href="#" class="btn btn-primary text-light rounded-2 px-5 py-2 w-100 my-1">GET : Details</a>
                <a href="#" class="btn btn-primary text-light rounded-2 px-5 py-2 w-100 my-1">GET : Create</a>
                <a href="#" class="btn btn-primary text-light rounded-2 px-5 py-2 w-100 my-1">POST : Create</a>
                <a href="#" class="btn btn-primary text-light rounded-2 px-5 py-2 w-100 my-1">GET : Edit</a>
                <a href="#" class="btn btn-primary text-light rounded-2 px-5 py-2 w-100 my-1">POST : Edit</a>
                <a href="#" class="btn btn-primary text-light rounded-2 px-5 py-2 w-100 my-1">GET : Delete</a>
                <a href="#" class="btn btn-primary text-light rounded-2 px-5 py-2 w-100 my-1">POST : DeleteConfirmed</a>
                <a href="#" class="btn btn-primary text-light rounded-2 px-5 py-2 w-100 my-1">BOOL : ProductExists</a>
            </div>
        </div>
    </div>
</div>
