@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="d-flex flex-row justify-content-around">
            <a href="api/Teachers/index" class="btn btn-primary text-light rounded-2 px-5 py-2">Teacher</a>
        </div>
    </div>
</div>
