@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-6">
            <ul class="list-group ">
                <li class="list-group-item">
                    <a class="btn btn-primary" href="#">
                        <i class="bi bi-box-arrow-in-right"></i>
                        لینک
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-6">
            <div class="d-flex flex-row flex-wrap justify-content-around">
                <button class="btn btn-primary">
                    <i class="bi bi-box-arrow-in-right"></i>
                    ورود
                </button>
                <button class="btn btn-danger">
                    <i class="bi bi-box-arrow-right"></i>
                    خروج
                </button>
                <button type="button" class="btn btn-success">
                    <i class="bi bi-floppy"></i>
                    ثبت نام
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>نام</th>
                        <th>فامیل</th>
                        <th>نام کاربری</th>
                        <th>رمز کاربر</th>
                        <th colspan="2">عملیات</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>0</td>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                        <td>
                            <button class="btn btn-success">
                                <i class="bi bi-box-arrow-in-right"></i>
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-warning">
                                <i class="bi bi-box-arrow-in-right"></i>
                            </button>
                        </td>
                </tbody>
            </table>
        </div>
    </div>
</div>
