@font-face {
    font-family: iransansWeb;
    src: url(./Assets/Fonts/IRANSansWeb.ttf);
}

body {
    background: linear-gradient(90deg, #007be4, #00a1ff, #007be4);
    font-family: iransansWeb;
    font-size: 14px;
}

* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.card {
    border-radius: 1rem;
    box-shadow: 0 0 15px 2px #00000084;
    padding: 1rem;
    margin: 1rem
}

.container {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    color: wheat;
    height: 90vh;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.list-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.list-group-item a {
    color: wheat;
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    border-bottom: 1px solid wheat;
}

.list-group-item a:hover {
    background-color: #111111;
    border-radius: 0.5rem;
    border-bottom: 1px solid #00000000;
}

.Section {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
}

.content {
    padding: 1rem;
    width: 85vw;
    text-align: center;
    border-radius: 1rem;
}

.title-bar {
    padding: 1rem;
    width: 15vw;
    text-align: center;
    border-radius: 1rem;
}

.footer {
    background: #0065e1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 1rem;
    padding: 1rem;
    bottom: 0;
    box-shadow: 0 0 15px 2px #00000084;
}

.btn-default {
    border-radius: 0.5rem;
    box-shadow: 0 0 10px 1px #000000a4;
    padding: 0.5rem 2rem;
    border: 1px solid #eee0;
    cursor: pointer;
}

.btn-default:hover {
    background: #272626;
    color: aliceblue;
    animation: myAnim 500ms ease 0s 1 reverse backwards;
}

.btn-success {
    background: #0ca900;
}

.btn-danger {
    background: #ff1000;
}

.btn-warning {
    background: #ff9400;
}

@keyframes myAnim {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}