@{
    ViewData["Title"] = "Home Page";
    var response = ViewBag.response;
}
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

<div ng-app="myApp" ng-controller="myCtrl" class="container-fluid text-center">
    <div class="row d-flex flex-row justify-content-between">
        @foreach (var item in response)
        {
            <button class="btn btn-dark text-light rounded-3 shadow px-3 m-2 p-1" ng-click="GetName(@item.Name)">@item.Id : @item.Name : @item.Family</button>
        }
    </div>
</div>
<script>
    var app = angular.module('myApp', []);
    app.controller('myCtrl', function ($scope, $http) {
        $scope.GetName = (name) => {
            console.log("Name : ", name);
            //$http.get("https://localhost:7241/Home/GetTeacherByName", name)
            //    .then(function (response) {
            //        $scope.myWelcome = response.data;
            //    });
        }
    });
</script>
