@font-face {
    font-family: iransansweb;
    src: url("../asstes//fonts//IRANSansWeb.ttf");
}

html, body {
    /*font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
    font-family: IRANSansWeb;
    font-size: 14px;
}

html {
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.cursur-pointer {
    cursor: pointer;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.list-tk {
    display: flex;
    flex-direction: column;

}

.list-item-tk {
    border-bottom: 1px solid #b2b2b2;
}

.overflow-200 {
    height: 200px;
    overflow: auto;
}

.overflow-300 {
    height: 300px;
    overflow: auto;
}

.overflow-500 {
    height: 500px;
    overflow: auto;
}
